body{
    font-family: arial;
}

h1 {
    color: blue;
}
h2 {
    color: #cccc00;
}
h3 {
    color: blue;
}
html {
    background-image: url("http://wallpaper.zone/img/4858765.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    color: #cccc00;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:60px;
}
h4 {
    color: #cccc00;
}